@import url(https://fonts.googleapis.com/css?family=Fjalla+One);

body {
  font-family: "Fjalla One", sans-serif;
}

.ribbon {
  cursor: pointer;
}

.ribbon:hover {
  transform: scale(0.9);
}

.new-year {
  font-size: 3.5rem;
  user-select: none;
  text-shadow: #533d4a 1px 1px, #533d4a 2px 2px, #533d4a 3px 3px,
    #533d4a 4px 4px, #533d4a 5px 5px, #533d4a 6px 6px;
}

.happy {
  color: #f1c83c;
  margin-right: 15px;
}

.new {
  color: #2b9f5e;
  margin-right: 15px;
}

.year {
  color: #e55643;
  margin-right: 15px;
}

.year2021 {
  color: #1fc3ec;
}
/* #f1c83c; #2b9f5e; #e55643*/

.made-with {
  position: absolute;
  bottom: 5%;
  font-size: 1.1rem;
  user-select: none;
}
